:host {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .advert-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 160px;

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &__text {
        font-size: 32px;
        font-weight: 800;
        padding: 0;
        margin: 0;
      }

      .primary {
        color: var(--color-primary);
      }

      .secondary {
        color: var(--color-secondary);
      }

      &_points {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 52px 0;
        gap: 32px;

        &_item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;

          &-text-container {
            width: 220px;

            &__title {
              font-size: 12px;
              font-weight: 800;
              color: var(--color-secondary);
              text-transform: uppercase;
            }

            &__text {
              font-size: 12px;
              color: var(--color-primary);
            }
          }

          &__img {
            height: 64px;
          }
        }
      }

      .button {
        width: 220px;
        height: 60px;
      }
    }

    .advert__image {
      width: 520px;
    }
  }

  .cards-title {
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 600;
  }

  .pizza-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 64px;
    margin: 80px 0 160px 0;
  }

  .order-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: flex-end;
    margin-bottom: 120px;

    .order-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 320px;

      &__text {
        font-size: 12px;
        color: var(--color-primary);
        margin-top: 72px;
      }

      &__title {
        font-size: 32px;
        font-weight: 800;
        padding: 0;
        margin: 0;
      }

      .primary {
        color: var(--color-primary);
      }

      .secondary {
        color: var(--color-secondary);
      }
    }

    .order-big-piece {
    }
  }
}

@media (max-width: 850px) {

  .advert__image {
    display: none;
  }
  .order-container {
    flex-direction: column !important;
    align-items: center !important;
  }
}
